* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.parent-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr;
}

.btn {
  padding: 30px;
}

.center {
  text-align: center;
}

.turn {
  margin-bottom: 10px;
  font-weight: 550;
}

.reset {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

.reset:hover {
  cursor: pointer;
  color: #fff;
  background-color: #4f4e4e;
}

@media (max-width: 500px) {
  .btn {
    padding: 40px;
  }
}
